<!DOCTYPE html>
<html lang="en">

<head>
    <title>Point and Click version of the Number Sorting Game</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/custom-bootstrap.css" rel="stylesheet">
    <link href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Droid+Sans" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="./"><i class="fa fa-sort-numeric-asc text-success" aria-hidden="true"></i> Number Sorting Game</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./"><i class="fa fa-book" aria-hidden="true"></i> Presentation</a></li>
                    <li><a href="./show-response.html"><i class="fa fa-eye" aria-hidden="true"></i> Show Response</a></li>
                    <li class="active"><a href="./point-and-click.html"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> Point and Click</a></li>
                    <li><a href="./drag-and-drop.html"><i class="fa fa-arrows" aria-hidden="true"></i> Drag and Drop</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="container text-center" id="app">
        <div class="page-header">
            <h1><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> Point and Click version</h1>
        </div>
        <p class="highlight"><strong class="important">Click on the numbers</strong> in the correct ascending order, from the lowest to the greatest.</p>
        <ul class="list-unstyled lead list-inline" id="listNumbers">
            <li v-for="n in numbersToOrder">
                <button class="btn btn-lg btn-game alert alert-warning" @click="addNumber">
                    <animated-integer v-bind:value="n"></animated-integer>
                </button>
            </li>
        </ul>
        <h3>Your answer</h3>
        <ul class="list-unstyled lead list-inline" id="listAnswers">
            <li v-for="n in replyNumbers">
                <h2 class="alert alert-info btn-game">{{ n }}</h2>
            </li>
        </ul>
        <transition name="fade">
            <div v-if="showResponse">
                <div v-if="isRight">
                    <h2 class="alert alert-success lead text-center">
                        <i class="fa fa-check"></i> Yes! Your order is correct!
                    </h2>
                </div>
                <div v-if="!isRight">
                    <h2 class="alert alert-danger lead text-center">
                        <i class="fa fa-times"></i> Nope! The expected order was {{ correctAnswer }}
                    </h2>
                </div>
                <hr>
                <play-again v-bind:numbers="howMany" v-on:play="playAgain"></play-again>
            </div>

        </transition>
    </div>

    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./node_modules/tween.js/src/Tween.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/point-and-click.js"></script>
</body>

</html>