<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Write Response version of the Number Sorting Game(s)</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/custom-bootstrap.css" rel="stylesheet" />
    <link href="./vendor/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link
      href="./vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Droid+Sans"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-ex1-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./"
            ><i
              class="fa fa-sort-numeric-asc text-success"
              aria-hidden="true"
            ></i>
            Number Sorting Game(s)</a
          >
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="./"
                ><i class="fa fa-book" aria-hidden="true"></i> Presentation</a
              >
            </li>
            <li class="active">
              <a href="./write-response.html"
                ><i class="fa fa-keyboard-o" aria-hidden="true"></i> Write
                Response</a
              >
            </li>
            <li>
              <a href="./point-and-click.html"
                ><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> Point
                and Click</a
              >
            </li>
            <li>
              <a href="./drag-and-drop.html"
                ><i class="fa fa-arrows" aria-hidden="true"></i> Drag and
                Drop</a
              >
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container text-center" id="app">
      <div class="page-header">
        <h1>
          <i class="fa fa-keyboard-o" aria-hidden="true"></i> Write Response
          version
        </h1>
      </div>
      <p class="highlight">
        <span class="label label-warning" v-if="warmUp">Warm-up</span>
        <span class="important">Write the numbers</span> in the correct
        ascending order separated by a <kbd>space</kbd> and press
        <kbd>enter</kbd> or one of the button below when your are done!
      </p>
      <ul class="list-unstyled lead list-inline" id="listNumbers">
        <li
          v-for="n in numbersToOrder"
          class="alert btn-game"
          v-bind:class="itemClass(n)"
        >
          <animated-integer v-bind:value="n"></animated-integer>
        </li>
      </ul>
      <h3>
        <span class="text-info" v-if="userOrder.length < howMany"
          >{{ howMany - userOrder.length }} number(s) still to order</span
        >
        <span class="text-danger" v-if="userOrder.length > howMany"
          >You have {{ userOrder.length - howMany }} extra number(s)</span
        >
        <span class="text-success" v-if="userOrder.length == howMany"
          >No more numbers to order</span
        >
      </h3>
      <form v-on:submit.prevent="show">
        <div class="form-group">
          <input
            inputmode="numeric"
            class="input-game text-center"
            v-model="yourAnswer"
            v-bind:disabled="showResponse"
            id="inputAnswer"
            required
            autocomplete="off"
            autofocus
          />
        </div>
        <ul class="list-unstyled list-inline" v-if="!showResponse">
          <li>
            <button type="submit" class="btn btn-primary btn-lg">
              Check your answer
            </button>
          </li>
          <li>
            <button class="btn btn-default btn-lg" v-on:click="feedback">
              I quit, show my the answer
            </button>
          </li>
        </ul>
      </form>

      <transition name="fade">
        <div v-if="showResponse">
          <div v-if="isRight && showFeedback">
            <h2 class="alert alert-success lead text-center">
              <i class="fa fa-check"></i> Yes! Your order is correct!
            </h2>
          </div>
          <div>
            <h2
              class="alert alert-danger lead text-center"
              v-if="!isRight && showFeedback"
            >
              <i class="fa fa-times"></i> I am sorry, your order is not correct!
            </h2>
            <h3 class="text-info">Here you can see the correct order</h3>
            <ul class="list-unstyled lead list-inline" id="listSolution">
              <li v-for="n in orderedNumbers" class="btn-game alert alert-info">
                <animated-integer v-bind:value="n"></animated-integer>
              </li>
            </ul>
          </div>
          <hr />
          <div class="lead text text-info" v-if="warmUp">
            <i class="fa fa-info-circle text-info"></i> You can adapt the
            difficulty of your next game by changing the values.
          </div>
          <play-again
            v-bind:numbers="howMany"
            v-bind:min="min"
            v-bind:max="max"
            v-on:play="playAgain"
          ></play-again>
        </div>
      </transition>
    </div>
    <footer>
      <div class="container">
        <p class="text-right">
          <time>Last update 30.05.2017</time>
          <a href="http://tecfa.unige.ch/perso/mafritz">
            <img
              id="maf-logo"
              src="./images/logo.png"
              title="Mattia A. Fritz"
            />
          </a>
        </p>
      </div>
    </footer>
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/bootstrap.min.js"></script>
    <script src="./vendor/underscore/underscore-min.js"></script>
    <script src="./vendor/vuejs/vue.min.js"></script>
    <script src="./vendor/tweenjs/Tween.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/write-response.js"></script>
  </body>
</html>
