body {
    margin-top: 40px;
}

a.navbar-brand {
    font-family: 'Baloo Bhaina', cursive;
}

.btn-game {
    font-size: 30px;
    font-family: 'Baloo Bhaina', cursive;
    min-width: 80px;
    margin: 20px 8px;
    display: block;
}

.input-game {
    font-size: 30px;
    font-family: 'Baloo Bhaina', cursive;
    display: block;
    width: 100%;
    padding: 10px;
    word-spacing: 10px;
    border: 1px solid #CCC;
}

.input-game:focus {
    border: 1px solid @brand-primary;
}

.animatedInteger {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-hover-state:hover {
    color: #FF3300;
}

.btn-game-disabled {
    background-color: #EAEAEA;
    border: 1px solid #999;
    opacity: 0.5;
}

.highlight {
    font-size: 24px;
    line-height: 40px;
}

.important {
    color: #3c763d;
}

hr.baseline {
    margin: 50px auto 50px auto;
    text-align: center;
    width: 150px;
    border: 3px dashed #3c763d;
    overflow: hidden;
}

input.howManyInput {
    min-width: 60px;
    text-align: center;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}


/* Transitions */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.flip-list-move {
    transition: transform 1s;
}

#maf-logo {
    background-color: #970000;
    padding: 15px;
    max-width: 97px;
    margin-left: 20px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #CCC;
    padding: 20px 0px;
}